/**
 * layout home-04/testimonial simple section
 *
 */

.testiminial-simple {
	@extend %vpadding;
	@include cx-overlay(rgba(0,0,0,.5));
	@include cx-background("../img/slider/home-1/slide-2.jpg");
	.testimonial-simple-wrapper {
		padding:50px 20px;
		
	}

	.testimonial-container {
		overflow: hidden;
		background: rgba(255,255,255,0.92);
		.row {
			@include eqheight;
		}

	}


}