// typography 
$cx-body-font: 							'Roboto', sans-serif !default;
$cx-heading-font: 						'Montserrat', sans-serif !default;


// Colors
$cx-text-color: 						#333 !default; // black
$cx-body-bg-color: 						#fff !default; // white 

$cx-primary-color:  					#39468C !default; // teal
$cx-secondary-color: 					#F26C9E !default; // light red
$cx-tertiary-color:						darken($cx-primary-color, 7%) !default; // dark teal
$cx-fourth-color: 						#f9b808 !default;  // Yellow type

$cx-offset-color:						#f5f5f5 !default; // offwhite


$cx-border-color:						#ccc !default; // light gray

$cx-link-color: 						$cx-primary-color !default;
$cx-link-hover-color: 					$cx-secondary-color !default;

$cx-overlay-color:						rgba(0,0,0, 0.55) !default;

$cx-error-color:						#a94442 !default;
// line height  
$cx-body-font-size: 					16px !default;
$cx-body-line-height: 					1.6em !default;
$cx-body-font-weight : 					400 !default;


// default speacing 
$cx-heading-margin-bottom : 			25px !default;


$cx-section-spacing:	 				80px !default;
$cx-col-spacing:						0.5*$cx-section-spacing !default; // will be used as bottom margin for the items on tablet and mobile

// default transition 
$cx-transition: 						all 0.3s ease !default;


//* screen size */
//* screen min width */

$cx-lg-screen:							1200px !default;
$cx-md-screen: 							992px !default;
$cx-sm-screen:							768px !default;
$cx-vsm-screen:							480px !default;

$cx-breakpoints: (
    "wide":    							$cx-lg-screen,
    "notebook":    						$cx-md-screen,
    "tablet":    						$cx-sm-screen,
    "small-mobile": 					$cx-vsm-screen, 
);




