/**
 * Layout header/ Main Menu
 *
 */
 
.sf-menu{
	display: block;
    float: right;
    margin-top: 11px;
    margin-bottom: 0;
    width: auto;
    clear:both;
	li {
		background: $cx-primary-color;
		display: block;
		a{
			padding: 10px 15px;
			display: block; 
			position: relative;
			color:lighten($cx-text-color, 100%);
			border:0;
			@include respond-to(tablet){
				padding: 10px 15px;
			};
			
			&:hover{
				color:lighten($cx-text-color, 100%);
			}
		}

	}

    &>li {
    	background: transparent;
    	&.sfHover,
    	&:focus,
    	&:hover {
    		background: transparent;
    	}
    	&.sfHover {
    		&>a {
    			color: $cx-secondary-color;
    		}
    	}
    	&>a {
    		text-transform: uppercase;
    		color: $cx-text-color;
            // font-weight: 600;
    		&:hover {
    			color: $cx-secondary-color;
    		}
    	}
    }

    ul {
    	li {
    		background: $cx-primary-color;
	    	&.sfHover,
	    	&:focus,
	    	&:hover {
	    		background: $cx-secondary-color;
	    	}
    	}

    	ul {
    		li {
    			background: lighten($cx-primary-color, 5%);
    		}

    		ul {
    			li {
				background: lighten($cx-primary-color, 10%);
    			}

    			ul {
    				li {
    					background: lighten($cx-primary-color, 15%);
    				}
    			}
    		}
    	}
    }

}


.sub-menu {
	//display: block !important;
}

.sf-arrows .sf-with-ul:after {
    content: '\f107';
    font-family: FontAwesome;
    font-size: 85%;
    position: absolute;
    right: 5px;
    top: auto;
    margin-top: -1px;
    width: auto;
    height: auto;
    border:0;
}

.sf-arrows ul .sf-with-ul:after {
    content: '\f105';
    font-family: FontAwesome;
	margin-top: 0;
	right:10px;
}

.sf-arrows .sf-with-ul {
    padding-right: 20px;
}

.mobile-menu{
	display:none;
    @include media-only(notebook, max) {
        display: block;
    }
}
