/******************************

INDEX:
    000 - Text Color #333
    001 - Body Background #fff
    002 - Primary Color #295970
    003 - Secondary Color #fce38a
    004 - Border Color #ccc
    005 - Background #fafafa
    006 - White Color #fff
    007 - Transparent Background
    008 - Independent Colors
    009 - Mobile Menu


******************************/




/***********************************
    000 - Text Color #333
***********************************/


/***********************************
    001 - Body Background #fff
***********************************/


/***********************************
    002 - Primary Color #295970
***********************************/





/***********************************
    003 - Secondary Color #fce38a
***********************************/



/***********************************
    004 - Border Color #ccc
***********************************/



/***********************************
    005 - Background #fafafa
***********************************/



/***********************************
    006 - White Color #fff
***********************************/






/***********************************
    007 - Transparent Background
***********************************/




/***********************************
    008 - Independent Colors
***********************************/

/* General */


/* No Slider */




/* Header & Menu */




/* Page Title */


/* Blog Meta Icon */


/* Post formats */








/* Like Button colors */


/* Like Button Ajax Loader */


/* Comments */


/* Calender Widget */

/* Sub Menu */
/*.site-nav li.active > a, .site-nav li:hover > a {
  color: #02bdd3;
}

.site-nav ul.sub-menu {
  background: #262626;
}

.menu-item-has-children:hover:after {
    color: #02bdd3;
}*/

/* Comments */


/* Events */









/* Portfolio */


/* Team */





/***********************************
    009 - Mobile menu
***********************************/



/*.c-menu {
    background-color: #015989;
}

.c-menu__items a:hover,
.c-menu__items a:focus,
.c-menu__items a:visited {
    background: #006aa2;
}

.c-menu__close {
    background-color: #009dc8;
}*/



