.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto;
}

img {
    max-width: 100%;
    height: auto;
}

.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%;
    /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}


/* Text meant only for screen readers. */

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    white-space: nowrap;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */
}

figure {
    max-width: 100%;
}

select {
    max-width:100%;
}

.gallery-caption {

}

.bypostauthor {
    
}

.sticky {
    
}

#comments {
    margin-top: 70px;
}

/*#comments .comment-author.vcard {
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
}*/

#comments .comment-author.vcard img {
    border-radius: 50%;
    min-width:70px;
    max-width:70px;
}


#comments .comment-info {
    padding:15px;
    background: #f5f5f5;
}


.comment-list {
    padding:0;
}

.comment-list li {
    list-style-type: none;
    margin-bottom:35px;
}

.comment-info .fn {
    font-weight: bold;
}

.comment-info .fn a {
    color: #333;
}

.comment-meta {
    font-size: 85%;
    text-align: right;
}

.comment-meta a {
    color: #333;
}

/* theme Base CSS */

article {
    margin-top: 40px;
    margin-bottom: 20px;
}



#primary,
#secondary {
    margin-bottom: 80px;
    word-wrap: break-word;
}

#page_title,
.front-header {
    margin-bottom: 40px;
}


article > section.kc_row:first-of-type {
    margin-top: 0;
}

.sidebar-widget {
    padding-top: 40px;
}

