/**
 * components header/ headeer two
 *
 */


.header-two {
	.navbar-header {
	    float: none;
	    text-align: center;
	}

	.sf-menu {
	    float: none;
	    text-align: center;
	    margin-top: 1px;
		&>li {
		    float: none;
		    margin-left: 3px;
		    display: inline-block;
		    margin-right: 3px;
		}
	}

	.navbar-brand {
	    float: none;
	    height: auto;
	    padding: 5px 15px;
	    font-size: 42px;
	    line-height: 1.1em;
	    display: inline-block;
	    margin-left: auto;
	    margin-right: auto;
	}

	&.affix {
		.navbar-brand {
			display: none;
		}
	}

}