html,
body {
    font-size: $cx-body-font-size;
}

body {
    font-family: $cx-body-font ;
    line-height:$cx-body-line-height;
    color: $cx-text-color;
    font-weight: $cx-body-font-weight;
    background: $cx-body-bg-color;
}


h1 { 
    font-size: 2*$cx-body-font-size;
}
h2 { 
    font-size: 1.75*$cx-body-font-size;
}
h3 { 
    font-size: 1.5*$cx-body-font-size;
}
h4 { 
    font-size: 1.3125*$cx-body-font-size; 
}
h5 { 
    font-size: 1.125*$cx-body-font-size; 
}
h6 { 
    font-size: 1*$cx-body-font-size; 
}

h1, h2 , h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: $cx-heading-font;
    font-weight: 700;
    @extend %default-heading;
}


p {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: $cx-heading-margin-bottom;
}

ul, ol, table, dl, dd {
    margin-bottom:  $cx-heading-margin-bottom;
}

address ,blockquote  {
    font-style: italic;
}

blockquote {
    font-size: $cx-body-font-size;
}

td, th {
    padding: 10px;
}