// typography 
// $cx-body-font: 							'Open Sans', sans-serif !default;
// $cx-heading-font: 						'PT Sans', sans-serif !default;


// Colors
$cx-text-color: 						#454545;
$cx-body-bg-color: 						#fff;

$cx-primary-color:  					#919190;
$cx-secondary-color: 					#25BEA0;
$cx-tertiary-color:						#43423E;
$cx-fourth-color: 						#f9b808;

$cx-offset-color:						lighten($cx-tertiary-color, 70%);


$cx-border-color:						#aaa; // light gray

$cx-link-color: 						$cx-primary-color;
$cx-link-hover-color: 					$cx-secondary-color;

// line height  
// $cx-body-font-size: 					16px;
// $cx-body-line-height: 				1.6em;
// $cx-body-font-weight : 				400;

// $cx-social-icon-size-small: 			26px;
// $cx-social-icon-size-large: 			35px;


// default speacing 
// $cx-heading-margin-bottom : 			25px;


// $cx-section-spacing:	 				90px;
// $cx-col-spacing:						0.5*$cx-section-spacing; // will be used as bottom margin for the items on tablet and mobile

@import "../styles";