/**
 * components comments
 *
 */

#comments {
    margin-top: 1.5*$cx-col-spacing;
}

.posts-nav+#comments {
    margin-top: $cx-col-spacing;
}

.comment-text {
	&>ul, &>ol {
		margin-bottom: $cx-heading-margin-bottom;
	}
}


#comments {
    .comment-author {
        &.vcard {
            img {
                min-width: 100%;
                max-width: 100%;
                height: auto;
                @include border-radius(50%);
            }
        }
    }

    .comment-info {
        padding:15px 20px;
        @extend %bgc-offset;
    }

    .comment-list {
        padding: 0;
        li.pingback, li.comment {
            list-style-type: none;
        }

        .media {
            margin-bottom: $cx-heading-margin-bottom;
        }
    }
}


.comment-info {
    .fn {
        font-weight: bold;
        text-transform: capitalize;
        a {
            @extend %color-text;
        }
    }
}


.comment-meta {
    font-size: 85%;
    line-height: 1.65em;
    text-align: right;
    a {
        @extend %color-text;
    }
}


.comment-single-left {
    display: block;
    width: 90px;
    float: left;
    margin-right: 25px;
    height: 90px;
}


.comment-single-right {
    width: 80%;
    width:calc(100% - 115px);
    float:right;
    display: block;
    margin-bottom: $cx-col-spacing;
}

#commentform {
    position: relative;
    fieldset {
        clear: both;
        position: relative;
        // padding-bottom: $cx-heading-margin-bottom;
    }

    textarea {
        height: 150px;
        padding: 10px;
        width: 100%;
        display: block;
        // margin-bottom: 0;
    }

    input[type="text"], input[type="email"] {
        width:100%;
        padding:10px;
    }

    p.form-submit {
        margin-bottom: $cx-heading-margin-bottom;
    }

    .comment-form-comment {
        // margin-bottom: 20px;
    }

}



.comment-form-author,
.comment-form-email,
.comment-form-url {
    margin-bottom: 0;
}

.moderation-notice {
    text-align: right;
}


#comment-error,
#author-error,
#email-error,
#url-error{
    position: relative;
    top: -10px;
    margin-bottom: 10px;
    @extend %color-error;
}
