/**
 * Components Pagination
 *
 */

.pagination-wrapper {
	margin-bottom: ($cx-section-spacing)-20px; 


	.pagination-lg {
		&>li {
			&>span,
			&>a {
				@include respond-to(small-mobile) {
					padding:6px 12px;
				}

			}
		}
		
	}
}

.pagination {
	.active {
		a,
		span {
			background-color: $cx-primary-color;
			border-color: $cx-primary-color;
			&:hover {
				background-color: $cx-secondary-color;
				border-color: $cx-secondary-color;
			}
		}
	}

	li {
		span,
		a {
			color: $cx-text-color;
			border-color: $cx-border-color;
			&:hover,
			&:focus {
				color: lighten($cx-text-color, 100%);
				background: $cx-secondary-color;
				border-color: $cx-secondary-color;
			}
		}
		&:first-child,
		&:last-child {
			span,
			a {
				@include border-radius(0);
			}
		}
	}
	
}

.cx-pagination {
	padding-top:15px;
	padding-bottom: 15px;
	border-top: 1px solid $cx-border-color;
	border-bottom: 1px solid $cx-border-color;
	margin-bottom: $cx-col-spacing;
	@extend %clearfix;
	a {
		text-transform: uppercase;
		letter-spacing: 0.05em;
		color: $cx-text-color;
		font-size: 90%;
		&:hover {
			color: $cx-link-hover-color;
		}
	}
}
