/**
 * Components Social Icons
 *
 */

.social-icon {
	overflow:hidden ;
	a{
	    width: $cx-social-icon-size-small;
	    height: $cx-social-icon-size-small;
	    display: inline-block;
	    line-height: $cx-social-icon-size-small;
	    text-align: center;
	    margin-right:5px;
	    background-color:darken($cx-body-bg-color, 10%);
	    color: $cx-text-color ;
	    float: left;
	    @extend %cx-transition ;
	    &:hover{
	    	border-color : $cx-secondary-color;
	    	background:$cx-secondary-color;
	    	color: $cx-body-bg-color ;
	    }
	    &:last-child{
	    	margin-right:0px;
	    }
	}

}

.social-icon-large {
	@extend .social-icon;
	a {
		width: $cx-social-icon-size-large;
		height: $cx-social-icon-size-large;
		line-height: $cx-social-icon-size-large;
		margin-right: 2px;
		i {
			font-size: 16px;
			line-height: $cx-social-icon-size-large;
			display: block;
		}
	}

}

.social-icons {
	p {
		display: inline-block;
    	float: left;
    	margin-right: 20px;
    	line-height: 36px;
	}
	margin-top: 25px;
	margin-bottom: $cx-col-spacing;
	ul {
		margin: 0;
		padding: 0;
		li {
			list-style-type: none;
			display: inline-block;
			margin-bottom: 10px;
			a {
				display: block;
				margin-right:6px;
				color: lighten($cx-text-color, 100%);
				@include box(36px, 36px)
				@include border-radius(50%);
				&.facebook {
					background: #2D5F9A;
					&:hover {
						background: darken(#2D5F9A, 8%);
						color: lighten($cx-text-color, 100%);
					}
				}
				&.twitter {
					background: #00C3F3;
					&:hover {
						background: darken(#00C3F3, 8%);
						color: lighten($cx-text-color, 100%);
					}
				}
				&.google-plus {
					background: #d34836;
					&:hover {
						background: darken(#d34836, 8%);
						color: lighten($cx-text-color, 100%);
					}
				}
				&.instagram {
					background: #405de6;
					&:hover {
						background: darken(#405de6, 8%);
						color: lighten($cx-text-color, 100%);
					}
				}
				&.pinterest {
					background: #cd2029;
					&:hover {
						background: darken(#cd2029, 8%);
						color: lighten($cx-text-color, 100%);
					}
				}
				&.linkedin {
					background: #0d77b7;
					&:hover {
						background: darken(#0d77b7, 8%);
						color: lighten($cx-text-color, 100%);
					}
				}

			}

			@include respond-to(small-mobile) {
				margin-bottom: 10px;
			}
		}
	}
}