/**
 * Components Button
 *
 */

.default-btn {
	@include button;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 0.05em;
	&.skin-white {
		border-color: #fff;
		color: #fff;
		&:hover {
			border-color: $cx-secondary-color;
		}
	}
}

