/**
 * components widgets
 *
 */

.sidebar-widget {
    padding-top: 25px;
    padding-bottom: 25px;
    &:first-of-type {
        #secondary & {
            padding-top: 0;
        }
    }

    &:last-of-type {
        #secondary & {
            padding-bottom: 0;
        }
    }

    ol,
    ul {
        list-style: none;
        padding: 0;
    }

    li {
        position: relative;
        padding-left: 15px;
        &::before {
            content:"\f0da";
            font-family: FontAwesome;
            position: absolute;
            left:0;
            top:0;
            font-size:80%;
        }

        ul,
        ol {
            li {
                position: relative;
                &::before {
                    content:"\f105";
                    font-family: FontAwesome;
                }
            }
        }

        a {
            position: relative;
            padding-right: 5px;
            @extend %color-text;
            &:hover {
                text-decoration: none;
                @extend %color-secondary;
            }
        }
    }

    select {
        width: 100%;
        padding: 10px;
    }

    table {
        width:100%;
    }

}

/* rss widget */

.widget_rss {
    ul {
       &>li {
        margin-bottom: 5px;
        &>a {
            font-weight: bold;
        }
        }
    }


    .rss-date {
        font-size: 85%;
    }
}


.widgettitle {
    text-transform: uppercase;
    font-size: 20px;
    padding-bottom: 10px;
    font-weight: 400;
    @extend %cx-bottom-border;
    @extend %bdr-color-border;
    a {
        font-weight: normal;
    }
}

/* Search Widget */

.widget_search {
	form {
		&.input-group {
		    width: 100%;
		    z-index: 1;
		}
        input {
            &.form-control {
                width: 82% !important;
                float: left;
                height: 40px;
                outline: none;
            }
        }

        input[type="submit"] {
            position: absolute;
            right: 0;
            z-index: 9;
            top: 0;
            outline: 0;
            width: 18% !important;
            float: right;
            height: 40px;
            text-indent: -99999px;
            line-height: 0;
            background-image: url(../images/icons/search.png);
            background-repeat: no-repeat;
            background-size: 22px;
            background-position: center;
            border-left: 0;
        }
	}
}




// .widget_search input[type="submit"],
// .error404 input[type="submit"],
// .search input[type="submit"] {

// }


/* Tagcloud widget */

.tagcloud {
    a {
        font-size: 85% !important;
        padding: 6px 13px;
        display: inline-block;
        margin-bottom: 10px;
        @extend %color-text;
        @include cx-simple-border;
        @extend %bdr-color-border;
        &:hover,
        &:focus {
            @extend %color-white;
            @extend %bgc-secondary;
            @extend %bdr-color-secondary;
        }
    }
    
}


/* calender widget */

.widget_calendar {
    td, th {
        padding: 0;
        border: 0;
    }

    tbody {
        tr {
            @extend %cx-bottom-border;
            @extend %bdr-color-border;
        }

        td {
            text-align: center;
            height: 32px;
            line-height: 32px;
            @extend %color-text;
            a {
                display: block;
                @extend %bgc-primary;
                @extend %color-white;
                &:hover {
                    @extend %bgc-secondary;
                }
            }
            & + td {
                @extend %cx-left-border;
                @extend %bdr-color-border;
            }
        }
    }

    thead {
        th {
            text-align: center;
            height: 32px;
            line-height: 32px;
            & + th {
                @extend %cx-left-border;
                @extend %bdr-color-border;
            }
        }
    }

    tfoot {
        #prev {
            a {
                display: inline-block;
                line-height: 32px;
                padding: 0 10px;
                @extend %color-primary;
                &:hover {
                    @extend %bgc-secondary;
                    @extend %color-white;
                }
            }
        }

        #next {
            text-align: right;
            a {
                display: inline-block;
                line-height: 32px;
                padding: 0 10px;
                @extend %color-primary;
                &:hover {
                    @extend %bgc-secondary;
                    @extend %color-white;
                }
            }
        }
    }

    table#wp-calendar {
        @include cx-simple-border;
        @extend %bdr-color-border;
    }

    table#wp-calendar thead {
        @extend %cx-bottom-border;
        @extend %bdr-color-border;
    }

    caption {
        text-align: center;
        @extend %bgc-primary;
        @extend %color-white;
    }
}




/* recent comments */

.widget_recent_comments {
    &.sidebar-widget {
        li {
            padding-left: 20px;
            position: relative;
            margin-bottom: 5px;
            &::before {
                content: "\f0e6";
                font-family: FontAwesome;
                position: absolute;
                left: 0;
                top: 0;
                font-size: 80%;
            }
        }
    }

    .recentcomments {
        & > a {
            font-size: 90%;
            @extend %color-primary;
        }

        a {
            font-style: italic;       
        }
        .comment-author-link {
            a {
                font-style: normal;
            }
        }
    }

    .comment-author-link {
        a {
            padding-right: 0;
        }
    }
}


/* default recent comments */

.widget_recent_entries {
    ul {
        & > li {
            a {
                padding-right: 0;
                & + span {
                    font-style: italic;
                }
            }
        }
    }
}