/**
 * Components Pricing Tables
 *
 */

.pricing-table-wrapper {
	position: relative;
	overflow: hidden;
	.price-top {
		padding:25px 20px;
		border-bottom: 1px solid $cx-border-color;
		h2 {
			text-transform: uppercase;
			color:$cx-secondary-color;
			font-size: 18px;
			margin-bottom: 2px;
			font-weight: normal;
		}

		h3 {
			text-transform: uppercase;
			font-size: 27px;
		}

		p {
			@extend %mb0;
		}
	}
	.price-cost {
		span {
			font-size: 14px;
    		position: relative;
    		top: -2px;
    		left: 3px;
    		line-height: 1em;
		}
	}

	.price-bottom {
		padding: 25px 20px 10px 20px;
		border-bottom: 1px solid $cx-border-color;
		ul {
			margin: 0;
			padding: 0;
			li {
				list-style-type: none;
				position: relative;
				margin-bottom: 15px;
				padding-left: 33px;
				&.effective {
					font-weight: bold;
						&::before {
						content:"\f164";
						font-family: Flaticon;
						position: absolute;
						border: 1px dashed $cx-secondary-color;
						@include box(22px, 22px);
						margin-right:12px;
						color: $cx-secondary-color;
						font-size: 85%;
						top:0;
						left:0;
						margin-bottom: 5px;
					}
				}

				&.not-effective {
					&::before {
						content:"\f166";
						font-family: Flaticon;
						position: absolute;
						top:0;
						left:0;
						border: 1px dashed lighten($cx-text-color, 10%);
						@include box(22px, 22px);
						margin-right:12px;
						color: lighten($cx-text-color, 10%);
						font-size: 85%;
						margin-bottom: 5px;
					}
				}

			}


		}
	}

	.default-btn {
		margin-top: 25px;
		margin-left: 20px;
		margin-bottom: 25px;
		background: $cx-secondary-color;
		border-color: $cx-secondary-color;
		color: lighten($cx-text-color, 100%);
		&:hover {
			background: $cx-primary-color;
			border-color: $cx-primary-color;
		}
	}

	.price-token {
		position: absolute;
		background: $cx-secondary-color;
		color: lighten($cx-text-color, 100%);
		display: block;
		width:200px;
		height:100px;
		line-height:165px;
		text-align: center;
		top: -15px;
    	right: -100px;
    	transform: rotate(45deg);
    	span {
    		position: relative;
    		left:-11%;
    		font-size: 95%;
    	}
	}

	@include media-only(notebook, max) {
		margin-bottom: $cx-col-spacing;
	}
}