/**
 * Components Primary Titile
 *
 */

.primary-title{
	padding-bottom: 20px;
	// color: $cx-text-color ;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 1.8*$cx-body-font-size;
	margin-bottom:$cx-heading-margin-bottom;
	@include respond-to(tablet){
		font-size: 1.5*$cx-body-font-size;
	};
	@include respond-to(mobile){
		font-size: 1.3*$cx-body-font-size;
	};
}
