/**
 * Components Service
 *
 */

.info-item {
	text-align:center;
	margin-bottom: 1.8*$cx-heading-margin-bottom;
	@extend %cx-transition;
	.thumb-icon {
		line-height: 0;
		margin-bottom: 0.8*$cx-heading-margin-bottom;
		i {
			
			font-size: 50px;
	    	color: $cx-text-color;
	    	text-align: center;
	    	@include box(64px,64px);
		    &::after{
		    	content: "";
		    }
		    @extend %cx-transition;
		}
	}

	h3 {
		@extend %cx-transition;
	}

	.info-content {
		p:last-child{
			margin: 0;
		}
	}

	&.boxed {
		border: 1px solid $cx-border-color;
		padding:30px 20px 40px;
		background: lighten($cx-text-color, 100%);
		&:hover {
			background: $cx-primary-color;
			color:  lighten($cx-text-color, 100%);

			.thumb-icon {
				i {
					color:  lighten($cx-text-color, 100%);
				}
			}

			h3 {
				color:  lighten($cx-text-color, 100%);
			}
		}


	}

	&.border-collapsed {
		margin-left: -15px;
		margin-right: -15px;
		margin-bottom: 0;
		padding:35px 30px;
	}

	&:hover {
		background: inherit;
	}

	&.left-edged-icon {
		text-align: left;
		border:1px solid $cx-border-color;
		@include eqheight;
		.info-content-wrapper,
		.thumb-icon {
			padding:20px 10px;
			vertical-align: top;
		}

		.thumb-icon {
			//background: $cx-secondary-color;
			border-right: 1px solid $cx-border-color;
			i {
				font-size: 50px;
				//color: lighten($cx-text-color, 100%);
			}

			@include respond-to(mobile) {
				border-bottom: 1px solid $cx-border-color;
				margin-bottom: 0;
			}
		}

		.info-content-wrapper {
			padding-left: 20px;
			padding-right: 20px;
		}

	}

}