/**
 * components widgets
 *
 */

.sidebar-widget {
    padding-top: 25px;
    padding-bottom: 25px;
    &:first-of-type {
        #secondary & {
            padding-top: 0;
        }
    }

    &:last-of-type {
        #secondary & {
            padding-bottom: 0;
        }
    }

    ol,
    ul {
        list-style: none;
        padding: 0;
    }

    li {
        position: relative;
        padding-left: 15px;
        &::before {
            content:"\f0da";
            font-family: FontAwesome;
            position: absolute;
            left:0;
            top:0;
            font-size:80%;
        }

        ul,
        ol {
            li {
                position: relative;
                &::before {
                    content:"\f105";
                    font-family: FontAwesome;
                }
            }
        }

        a {
            position: relative;
            padding-right: 5px;
            @extend %color-text;
            &:hover {
                text-decoration: none;
                @extend %color-secondary;
            }
        }
    }

    select {
        width: 100%;
        padding: 10px;
    }

    table {
        width:100%;
    }
}


.widgettitle {
    text-transform: uppercase;
    font-size: 20px;
    padding-bottom: 10px;
    font-weight: 400;
    @extend %cx-bottom-border;
    @extend %bdr-color-border;
    a {
        font-weight: normal;
    }
}

/* Search Widget */

.widget_search {
	form {
		&.input-group {
		    width: 100%;
		    z-index: 1;
		}
        input {
            &.form-control {
                width: 82% !important;
                float: left;
                height: 40px;
                outline: none;
            }
        }

        input[type="submit"] {
            position: absolute;
            right: 0;
            z-index: 9;
            top: 0;
            outline: 0;
            width: 18% !important;
            float: right;
            height: 40px;
            text-indent: -99999px;
            line-height: 0;
            background-image: url(../images/icons/search.png);
            background-repeat: no-repeat;
            background-size: 22px;
            background-position: center;
            border-left: 0;
        }
	}
}




// .widget_search input[type="submit"],
// .error404 input[type="submit"],
// .search input[type="submit"] {

// }


/* Tagcloud widget */

.tagcloud {
    a {
        font-size: 85% !important;
        padding: 6px 13px;
        display: inline-block;
        margin-bottom: 10px;
        @extend %color-text;
        @include cx-simple-border;
        @extend %bdr-color-border;
        &:hover,
        &:focus {
            @extend %color-white;
            @extend %bgc-secondary;
            @extend %bdr-color-secondary;
        }
    }
    
}