/**
 * Components Call to action
 *
 */

.cta-section {
	padding-top:$cx-col-spacing;
	padding-bottom: $cx-col-spacing;
	margin-bottom: 0;

	p,	
	h2 {
		@extend %mb0;
		color: lighten($cx-text-color, 100%);
	}

	h2 {
		margin-bottom: 5px;
	}

	.row {
		@include eqheight;
		.cta-content {

			@include respond-to(mobile) {
				margin-bottom: 30px;
			}

		}

		.cta-action {
			text-align: right;
			.btn-default {
				padding:10px 25px;
			}

			@include respond-to(mobile) {
				text-align: left;
			}
		}

	}

	&.has-bg {
		@include cx-background("../img/CTA/cta-1.jpg");
		@extend %overlay;
	}


}

.cta-centered {
	text-align: center;
	@extend %vpadding;
	&.has-bg {
		@include cx-background("../img/slider/home-1/slide-2.jpg");
		@include cx-overlay();
		color: lighten($cx-text-color, 100%);
		h1, h2, h3, h4, h5, h6 {
			color: lighten($cx-text-color, 100%);
		}

		.default-btn {
			border-color: $cx-primary-color;
			background: $cx-primary-color;
			color: lighten($cx-text-color, 100%);
			&:hover {
				border-color: $cx-secondary-color;
				background: $cx-secondary-color;
			}

		}
	}
}


.call-to-action {
	color: lighten($cx-text-color, 100%);
	position: relative;
	overflow: hidden;
	background: url("../img/CTA/cta.jpg") no-repeat scroll center;
	background-size:cover;
	background-position: center;
	color: lighten($cx-text-color, 100%);
	z-index: 0;
	.cta-left {
		position:relative;
		@extend %vpadding;

		h2 {
			margin-bottom: 5px;
			color: #fff;
		}
		p {
			position:relative;
			@extend %mb0;
		}
		@include respond-to(mobile) {
			text-align: center;
		}
	}

	.cta-right {
		@extend %vpadding;
		padding-left: 50px;
		position: relative;
		z-index: 1;
		text-align: right;
		h2 {
			color: lighten($cx-text-color, 100%);
		}

		* {
			@extend %mb0;
		}

		@include respond-to(mobile) {
			text-align: center;
			background-color: $cx-primary-color;
			padding-left: 15px;
		}

		
	}
	&::before {
		content: "";
		background: rgba(0,0,0,.6);
		position:absolute;
		top:0;
		left:0;
		display: block;
		width:100%;
		height:100%;
	}

	&::after {
		content: "";
	    position: absolute;
	    background: $cx-primary-color;
	    top: 0;
	    right: -75px;
	    width: 53.5%;
	    height: 100%;
	    display: block;
		-webkit-transform: skewX(-25deg);
		-moz-transform: skewX(-25deg);
		-ms-transform: skewX(-25deg);
		-o-transform: skewX(-25deg);
		transform: skewX(-25deg);
		@include respond-to(mobile) {
			display: none;
		}
	}

	.default-btn {
		margin-top: 25px;
		margin-bottom: 5px;
	}
	@include respond-to(mobile) {
		background-position: -50px -100px;

	}
}