/**
 * Components Testimonial Simple
 *
 */

.testimonial-simple-wrapper {
	@include eqheight;
	.thumb-img {
		vertical-align: top;
		width:80px;
		img {
			width:100%;
			@include border-radius(50%);
		}
	}

	.testimonial-simple-content {
		vertical-align:top;
		padding-left: 20px;
	}

	.author-desc {
		.author-name {
			font-weight: bold;
			display: block;
		}

		.author-desig {
			display: block;
			font-style: italic;
		}
	}
}