/**
 * Components Newsletter
 *
 */

.newsletter-form-wrapper {
	form {
		div[class^="col-"] {
			padding-left:8px;
			padding-right: 8px;
		}

		select,
		textarea,
		input {
			color: $cx-text-color;
		}

		input[type="submit"] {
			color: lighten($cx-text-color, 100%);
		}
	}

}