/**
 * Components Phone
 *
 */

a.phone {
	font-size: 22px;
	position: relative;
	padding: 10px 15px 10px 40px;
	display: inline-block;
	@extend %cx-transition;
	&::before {
		content:"\f095";
		font-family: FontAwesome;
		font-size: 85%;
		position:absolute;
		top:0;
		left:0;
		right:auto;
		bottom:0;
		margin:auto;
		text-align: center;
		width:30px;
		height:30px;
		line-height: 30px;
		display: block;
		border:1px solid $cx-text-color;
		@include border-radius(50%);
		@extend %cx-transition;
	}

	&:hover {
		&::before {
			color: $cx-secondary-color;	
			border-color: $cx-secondary-color;
		}
	}
}