/**
 * Components Counter
 *
 */

.counter-item {
	text-align:center;
	width: 100%;
	padding: 0 25px;
	@include respond-to(tablet){
		padding: 0 15px;
	}

	@include respond-to(mobile){
		width: 100%;
		margin-bottom: $cx-col-spacing;
	}

	.counter-icon{
		margin-bottom: 25px;
		i{
			width: 86px;
			height: 86px;
			font-size: 46px;
			border: 2px solid $cx-text-color;
			line-height: 86px;
			display: inline-block;
			@include border-radius(50%);
			@include respond-to(tablet){
				width: 60px;
	    		height: 60px;
	    		font-size: 30px;
	    		line-height: 60px;
			}
		}
	}


	.counter {
	    font-size: 50px;
    	line-height: 100%;
    	font-weight: bold;
    	@include respond-to(tablet){
			font-size: 35px;
		}
	}

	.counter-text {
		text-transform: uppercase;
		font-size: 14px;
    	margin-bottom: 0;
	}

	&.type-03,
	&.type-02 {
		.counter-icon {
			i {
				border: 0;
			}
		}
	}

	&.type-02 {
		.counter-icon {
			margin-bottom: 5px;
		}

		.counter {
			font-size: 54px;
			margin-bottom: 5px;
		}
	}

	&.type-03 {
		text-align: left;
		width:auto;
		display: inline-block;
		padding:0 40px;
		@include respond-to(notebook) {
			padding:0 20px;
		}

		@include respond-to(tablet) {
			width:50%;
			float: left;
			margin-bottom: $cx-col-spacing;
		}

		@include respond-to(mobile) {
			width:100%;
			text-align: center;
		}
		.counter-icon {
			margin-right: 15px;
			float: left;
			@extend %mb0;
			 i {
			 	font-size: 64px;
			 	@include box(65px, 65px);
			 }
			 @include respond-to(mobile) {
			 	float: none;
			 	clear: both;
			 	margin-right: 0;
			 }
		}

		.counter-text {
			float: right;
			@include respond-to(tablet) {
				float: left;
			}

			@include respond-to(mobile) {
				float: none;
				margin-top: 20px;
			}
		}

		.counter-title {
			margin-bottom: 0;
		}

		.counter {
			font-size: 42px;
			margin-bottom: 2px;
		}
	}

}